/* Permite que border y padding no incrementen el tamaño de una caja.
Más info: http://es.learnlayout.com/box-sizing.html */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

#container {
	width: 100%;
}

#header {

}

#logo {
	width: 210px;
	margin: 0 auto;
}

nav {
	width: 100%;
	height: 130px;
	background-color: #E1E1E1;
	padding-left: 100px;
	padding-right: 100px;
}

.hq {
	font-size: 24px;
	margin-right: 10px;
}

.icon-caret-down {
	font-size: 24px;
	position: relative;
}

#pages h3 {
	margin-right: 50px;
	font-size: 18px;
}

.upper {
	text-transform: uppercase;
}

.inline {
	display: inline-block;
}

#content {
	background-color: #f7f7f7;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 60px;
}

.small-chart {
	background-color: white;
	width: 30%;
	height: 350px;
	display: inline-block;
	border: 1px solid black;
	margin-right: 30px;
}

