/* Permite que border y padding no incrementen el tamaño de una caja.
Más info: http://es.learnlayout.com/box-sizing.html */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

h2, h3, h4 {
	padding: 0;
	margin: 0;
}


#container {
	width: 100%;
}

#logo {
	width: 210px;
	margin: 0 auto;
}

#menu {
	position: absolute;
	right: 100px;
	top: 25px;
	font-size: 25px;
	cursor: pointer;
}

#city {
	cursor: pointer;
	width: 400px;
	margin-bottom: 20px;
}

nav {
	max-width: 100%;
	min-width: 690px;
	height: 130px;
	background-color: #F7B617;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
}

nav h2 {
	padding: 0;
	margin: 0;
}

.hq {
	font-size: 24px;
	margin-right: 10px;
}

.icon-caret-down {
	font-size: 24px;
	position: relative;
}

#dropdown-city-menu {
	position: absolute;
	width: 350px;
	background-color: white;
	text-align: left;
	padding: 5px;
	top: 140px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

#dropdown-city-menu th {
	border-bottom: 2px solid #F7B617;
	font-size: 14px;
}

#dropdown-city-menu td {
	font-size: 12px;
}

#dropdown-city-menu th, #dropdown-city-menu td {
	width: 200px;
}

#dropdown-city-menu td:hover {
	background-color: #F7F7F7;
	cursor: pointer;
}

#pages h3 {
	margin-right: 50px;
	font-size: 18px;
}

#pages a {
	text-decoration: none;
	color: black;
	display: block;
	padding-bottom: 20px;
}

#pages a.selected {
	border-bottom: 4px solid black;
}

.upper {
	text-transform: uppercase;
}

.inline {
	display: inline-block;
}

#content {
	background-color: white;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 60px;
	padding-bottom: 100px;
}

#data {
	display: none;
}


#location-container {
	height: 50px;
}

.small-chart {
	background-color: white;
	width: 345px;
	height: 335px;
	display: inline-block;
	/* border: 1px solid black; */
	margin-right: 30px;
	vertical-align: top;
	padding: 20px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
				0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
				0px 3px 1px -2px rgba(0, 0, 0, 0.12);
	overflow: hidden;
}

.small-chart h3 {
	margin-bottom: 20px;
} 

.little-boxes {
	display: inline-block;
	width: 150px;
	height: 65px;
	background-color: #F7F7F7;
	vertical-align: top;
	padding: 3px;
	text-align: center;
	line-height: 8px;
	overflow: hidden;
}

#drop-percentage {
	color: #CE2828;
}

.indicator {
	font-size: 20px;
	margin-left: 5px;
	line-height: 0px !important;
}

#nps .little-boxes:nth-child(3) {
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}

#nps .little-boxes:nth-child(3) h4 {
	font-weight: 400;
}

.small-size {
	font-size: 9px;
}

.counter {
	display: block;
	font-weight: 700;
	font-size: 25px;
	margin-top: 8px;
	margin-bottom: 15px;
}

.big-chart {
	width: 1103px;
	height: 550px;
	background-color: white;
	margin-top: 90px;
	padding: 20px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 
				0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
				0px 3px 1px -2px rgba(0, 0, 0, 0.12);

}

.big-chart h3 {
	margin-bottom: 20px;
}

#life-skills {
	margin-bottom: 90px;
}

.visible {
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

.invisible {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}
